
ul.items {
  margin: 0;
  padding: 0;
  display: flex;

  li {
    display: inline-block;
    list-style: none;
    width: 100px;
    height: 50px;
    padding-right: 5px;

    button {
      width: 100%;
      background: coral;
      color: white;
      font-weight: bolder;
    }
  }
}
