:local(.add-message) {
  
  form {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }
  textarea {
    flex-grow: 2;
    font-size: 14pt;
    resize: none;
    outline: none;

    &:focus {
      background: lightcyan;
    }
  }

  button {
    width: 75px;
    height: 100%;
    border: 1px solid #aaa;
    outline: none;
    
    &:focus {
      background: lightcyan;
    }
  }


}