@import '../../styles/colors';

:local(.app) {

  $width: 300px;

  .sidebar {
    float: left;
    width: $width;
    background: $secondary;
  }

  .main-area {
    margin-left: $width;
    background: $primary;
  }
}