.App {
  text-align: center;
  
  header {
    background-color: #222;
    padding: 20px;
    color: white;
    
    h1 {
      font-size: 1.5em;
    }    
  }

  label {
    display: block;
  }

  input[name=url] {
    width: 250px;
  }

  section.ipsum {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    // max-width: 800px;
    margin: auto;
    
    background:
    url()
    center center / cover
    no-repeat
    lightsteelblue;
  }
  
  pre {
    color: white;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
  }
}