:local(.movie) {
  box-sizing: border-box;
  list-style: none;
  overflow: hidden;
  position: relative;
  
  margin: 5px;
  width: 250px;
  height: 400px;

  text-align: center;
  background: white;
  border: 1px solid #aaa;
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  &:hover {
    background: #eee;
    border: 1px solid #777;
    cursor:pointer;
    color: black;
  }

  p {
    position: absolute;
    bottom: 0; left: 0; right: 0;
  }

  img {
    height: 250px;
  }
}